extends layout

block content
  header.container
    span.icon-quote
    nav
      a.about(href="/about") About
      a.work(href="/word") Work
      a.life(href="/life") Life
      a.contact(href="/contact") Contact
  div.container
    p.intro.center-block.multiline.
      Daeyoung Lim was born in August 18, 1991. He has lived in Seoul, South Korea for the most of his life
      and is now living in Jagok-dong, Seoul. 
block subcontent
  h3 dfd
