extends layout

block content
  header.container.index
    img(src="dist/img/gboy.jpg", class="img-circle")
    nav
      a.about(href="/about") About
      a.work(href="/word") Work
      a.life(href="/diary") Diary
      a.contact(href="/contact") Contact

  //- div.body.center-block: p.intro Nice to meet you. <br/> Welcome to the first website of Daeyoung Lim. Have a look around and have fun.
  div.body.center-block
    p.multiline.
      Nice to meet you.
      Welcome to the first website of Daeyoung Lim. Have a look around and have fun.

  div.container.signin.center-block
    a.center-block(href="/login")
      button.btn.btn-primary(type='submit') Sign in
block subcontent
  h3 dfd
